.topbar {
    background: #fff;
    padding: 0 1.53rem;
    min-height: 60px;
    height: 60px;
    color: #74708d;
}

.header-trigger {
    height: 64px;
    padding: 20px 24px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s, padding 0s;
}

.trigger:hover {
    color: #1890ff;
}