<div class="topbar d-flex flex-row flex-nowrap align-items-center">
    <div class="me-4">
    </div>
    <div class="me-4">
    </div>
    <div class="me-auto">
    </div>
    <div class="me-4">
    </div>
    <div class="me-4">
         <span
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="onToggleMenuSidebar()"
          ></span>
    </div>
    <div class="m-0 p-0">
        <!-- <app-profile-menu></app-profile-menu> -->
    </div>
    <div>
    </div>
</div>