.footer {
    max-width: 120rem;
    margin: 0 auto;
}

.inner {
    padding: 1.8rem;
    margin: 0 2.3rem;
    border-radius: 2px 2px 0 0;
    color: #000;
    background: #fff;
}

.bottom {
    border-top: 1px solid #d2d9e5;
    padding-top: 1.53rem;
    margin-top: .76rem;
}

.copyright {
    float: right;
    position: relative;
}

.copyright img {
    float: left;
    width: 30px;
    position: absolute;
    top: 6px;
}

.copyright span {
    display: block;
    margin-left: 50px;
}